body {
	background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p1/2948772-pixel-minecraft-style-land-background-vetor.jpg');
	text-align: center;
    font-size: 40px;
}

.tbt {
	color: beige;
	font-size: 50px;
	font-family: fantasy;
	text-align: center;
}